---
import HeaderElements from "./HeaderElements.astro";
import Mobile from "./Mobile.astro";
const { title, pubDate, author, tags, description } = Astro.props;
import { SITE_TITLE, SITE_DESCRIPTION } from '../scripts/globals';
const originalDate = new Date(pubDate);
const formattedDate = originalDate.toLocaleDateString('es-ES', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
});

---
<header class="header-background bg-gray-800">
    <div class="container mx-auto max-w-6xl sm:px-6 lg:px-8 relative z-10">
        <HeaderElements />
    </div>
    <div class="header-content">
        <h1 class="header-title text-shadow">{title}</h1>
        <p class="text-xl text-shadow">{description}</p>
        <div class="header-content">
            <div class="text-sm text-gray-300">
                <span>Escrito por <strong>{author}</strong> el <strong>{formattedDate}</strong></span>
            </div>
        </div>
        <div class="tags space-x-4">
            {tags.map(tag => (
                <a href={`/tags/${tag}`}>
                    <span class="px-2 py-1 bg-gray-500 text-xs rounded hover:bg-green-400 hover:text-black">
                        #{tag}
                    </span>
                </a>
            ))}
        </div>
    </div>
    <Mobile />
</header>