---
import PostLayout from './PostLayout.astro';
const { frontmatter } = Astro.props;
---
<PostLayout pageTitle={frontmatter.title} title={frontmatter.title} description={frontmatter.description} author={frontmatter.author} pubDate={frontmatter.pubDate.toString().slice(0,10)} tags={frontmatter.tags}>

  <div class="flex-grow container mx-auto px-4 sm:px-6 lg:px-8 py-6 max-w-6xl markdown">
    <slot />
  </div>
  
</PostLayout>
<style>
  a {
    color: #00539F;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>