---
import '../styles/global.css';

import Footer from '../components/Footer.astro';
import HeaderPage from '../components/HeaderPage.astro';
import HeaderBase from '../components/HeaderBase.astro';

const { pageTitle, title, pubDate, author, tags, description, subTitle, keywords } = Astro.props;
const blogTitle = 'domin.es';
---
<!DOCTYPE html>
<html lang="es">
    <head>
        <HeaderBase 
            pageTitle={pageTitle}
            subTitle={subTitle}
            description={description}
            keywords={keywords}
            author={author}
        />
    </head>
    <body class="flex flex-col min-h-screen bg-gray-100">
        <HeaderPage title={title} pubDate={pubDate} author={author} tags={tags} description={description} subTitle={subTitle}/>
        <main class="flex-grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>