---
import '../styles/global.css';

import Footer from '../components/Footer.astro';
import HeaderPost from '../components/HeaderPost.astro';
import HeaderBase from '../components/HeaderBase.astro';

import 'vanilla-cookieconsent/dist/cookieconsent.css';
import '../styles/ccElegantBlack.css';

const { pageTitle, title, pubDate, author, tags, description } = Astro.props;
const blogTitle = 'domin.es';
---
<!DOCTYPE html>
<html lang="es">
    <head>
        <HeaderBase pageTitle={pageTitle}/>
    </head>
    <body class="flex flex-col min-h-screen bg-gray-100">
        <HeaderPost title={title} pubDate={pubDate} author={author} tags={tags} description={description}/>
        <main class="flex-grow">
            <slot />
        </main>
        <Footer />
        <script>
            const mobileMenuButton = document.getElementById('mobile-menu-button');
            const mobileMenu = document.getElementById('mobile-menu');
    
            mobileMenuButton.addEventListener('click', () => {
                mobileMenu.classList.toggle('hidden');
            });
        </script>
        <!--<script>
            import { run } from 'vanilla-cookieconsent';
            import { config } from '../components/CookieConsentConfig';
            document.body.classList.add('cc--elegant-black');
            run(config);
        </script>-->
    </body>
</html>